:root {
  --white: #ffffff;
  --text-color: #212529;
  --black: #101012;
  --super-black: #000000;
  --red: #CC2626;
  --orange: #D46421;
  --backgrond: #F8F9FA;
  --blue: #4074D4;
  --link: #2291FF;
  --link-hover: #0080FF;
  --green: #25D366;
}
