@use '../utils' as *;

.rte {
  & > *:last-child {
    margin-bottom: 0 !important;
  }
  a {
    color: var(--link);
    @include transition(color);
    @include hover {
      &:not(:active) {
        color: var(--link-hover);
      }
    }
    &:active {
      color: var(--blue);
    }
  }
  p {
    margin: 0 0 3rem;
    @include up(md) {
      margin-bottom: 2.5rem;
    }
  }
  ul,
  ol {
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
