@use '../utils' as *;

.btn {
  $root: &;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  gap: 0 0.8rem;
  font-size: 2rem;
  line-height: 1;
  font-weight: 500;
  @include transition((color, opacity, border-color, background-color));
  &:not(._text) {
    border: 0.1rem solid transparent;
    border-radius: 1rem;
  }
  &:not(._text, ._text-button) {
    padding: 1.5rem 3.2rem;
  }
  &__icon {
    flex: none;
    width: 1.8rem;
    height: 1.8rem;
    @include transition(opacity);
  }
  &__text {
    display: block;
    @include transition(opacity);
  }
  &._outline-primary {
    border-color: var(--text-color);
    color: var(--text-color);
    background-color: transparent;
  }
  &._primary {
    color: var(--white);
    background-color: var(--black);
  }
  &._secondary {
    color: var(--text-color);
    background-color: rgba(16, 16, 18, 0.07);
  }
  &._text {
    &._gray {
      color: var(--text-color);
      opacity: 0.3;
    }
    &._blue {
      color: var(--link);
    }
  }
  @include hover {
    &:not(:disabled, :active, ._disabled) {
      &._outline-primary {
        border-color: transparent;
        color: var(--white);
        background-color: rgba(16, 16, 18, 0.9);
      }
      &._primary {
        color: var(--white);
        background-color: rgba(16, 16, 18, 0.85);
      }
      &._secondary {
        color: var(--text-color);
        background-color: rgba(16, 16, 18, 0.05);
      }
      &._text {
        &._gray {
          opacity: 0.2;
        }
        &._blue {
          color: var(--link-hover);
        }
      }
    }
  }
  &:active {
    &:not(:disabled, ._disabled) {
      &._outline-primary {
        border-color: transparent;
        color: var(--white);
        background-color: rgba(16, 16, 18, 0.85);
      }
      &._primary {
        color: var(--white);
        background-color: rgba(16, 16, 18, 0.88);
      }
      &._secondary {
        color: var(--text-color);
        background-color: rgba(16, 16, 18, 0.04);
      }
      &._text {
        &._gray {
          opacity: 0.15;
        }
        &._blue {
          color: var(--blue);
        }
      }
    }
  }
  &:disabled,
  &._disabled {
    cursor: not-allowed;
    &._outline-primary {
      opacity: 0.3;
    }
    &._primary {
      opacity: 0.5;
      background-color: var(--text-color);
    }
    &._secondary {
      #{$root}__icon,
      #{$root}__text {
        opacity: 0.3;
      }
    }
    &._text {
      &._gray {
        opacity: 0.15;
      }
      &._blue {
        opacity: 0.5;
      }
    }
  }
}
