@use '../utils' as *;

.field {
  flex: none;
  width: 100%;
  &__content {
    position: relative;
  }
  &__input,
  &__textarea {
    border: 0.1rem solid rgba(16, 16, 18, 0.15);
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    background: var(--white);
    font-size: 2rem;
    line-height: 1.5;
    @include transition((border-color, background-color));
    &:not(._error, :active, :focus, :disabled) {
      @include hover {
        border-color: rgba(16, 16, 18, 0.25);
      }
    }
    &:active,
    &:focus {
      &:not(._error, :disabled) {
        border-color: var(--link);
      }
    }
    &:disabled {
      background-color: rgba(16, 16, 18, 0.03);
    }
    &._error {
      border-color: var(--red) !important;
    }
  }
  &__input {
    height: 5.2rem;
    padding: 0 1.4rem;
  }
  &__textarea {
    padding: 1rem 1.4rem;
    resize: vertical;
    min-height: 18rem;
  }
  &__error {
    font-size: 1.6rem;
    color: var(--red);
    padding-top: 0.5rem;
  }
}
