@use '../utils' as *;

.pagination {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  &__load-btn {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.5;
    height: 5.2rem;
  }
  &__pages {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6rem;
    @include up(md) {
      gap: 2.05rem;
    }
    &-item {
      &._hidden {
        display: none;
        @include up(md) {
          display: block;
        }
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      height: 4.6rem;
      border-radius: 1rem;
      background: transparent;
      text-align: center;
      cursor: pointer;
      font-size: 2rem;
      line-height: 1.5;
      color: var(--text-color);
      padding: 0 0.8rem;
      min-width: 3.7rem;
      @include transition((background-color, box-shadow, color));
      @include up(md) {
        padding: 0 1.4rem;
        min-width: 0;
      }
      svg {
        width: 1.8rem;
        height: 1.8rem;
        margin: 0 -0.6rem;
        @include up(md) {
          margin: 0;
        }
      }
      span {
        display: block;
      }
      &._active {
        background-color: var(--white);
        box-shadow: 0 8px 24px 0 rgba(129, 135, 189, 0.08);
        cursor: default;
      }

      @include hover {
        &:not(._active, :disabled, ._disabled) {
          background-color: var(--white);
          box-shadow: 0 8px 24px 0 rgba(129, 135, 189, 0.08);
          color: var(--link-hover);
        }
      }
      &:disabled,
      &._disabled {
        cursor: not-allowed;
        opacity: 0.3;
      }
    }
  }
}
