@use 'sass:map';
@use '../utils' as *;

.purchases {
  flex: none;
  width: 100%;
  &__wrapper {
    border-radius: 1rem;
    background: var(--white);
    box-shadow: 0 8px 24px 0 rgba(129, 135, 189, 0.15);
    padding: 2.5rem map.get($indents, sm) 2.4rem;
    @include up(md) {
      padding: 4.1rem 6rem 4rem;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 3.9rem;
  }
  &__title {
    font-size: 2.8rem;
  }
  &__itog {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    &-item {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      font-size: 2rem;
      line-height: 1;
      font-weight: 500;
      @include up(md) {
        flex-direction: row;
        align-items: flex-start;
      }
    }
    &-label {
      @include up(md) {
        flex: 1 1 auto;
      }
    }
    &-value {
      flex: none;
      @include up(md) {
        text-align: right;
      }
    }
  }
  &__content {
    position: relative;
    top: 0.1rem;
    * + & {
      margin-top: 2.9rem;
      padding-top: 3.1rem;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 0;
        background: var(--text-color);
        opacity: 0.1;
      }
    }
  }
}
