@use '../utils' as *;

.socials {
  $root: &;

  &,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
  }
  & {
    @include up(md) {
      gap: 3.9rem;
    }
    @include up(lg) {
      padding: 0 2.9%;
      flex-direction: row;
      gap: 0 5rem;
      align-items: flex-start;
    }
    @include up(xl) {
      padding: 0 9.5%;
    }
  }
  &__title {
    text-align: center;
    font-size: 2.8rem;
    line-height: 1.4;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include up(md) {
      text-align: left;
    }
    @include up(lg) {
      height: 12.7rem;
      max-width: 13rem;
      text-align: center;
      flex: none;
    }
    span {
      display: block;
      width: 100%;
      position: relative;
      @include up(lg) {
        margin-top: -0.3rem;
      }
    }
  }
  &__content {
    flex: 1 1 auto;
    @include up(lg) {
      gap: 2.1rem;
    }
  }
  &__list {
    flex: 1 1 auto;
    display: grid;
    gap: 1.4rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 7%;
    @include up(md) {
      padding: 0;
      gap: 2.37rem;
      grid-template-columns: 1fr 21.5% 21.5%;
    }
    @include up(lg) {
      gap: 2.85rem;
    }
  }
  &__item {
    width: 100%;
    &._rutube {
      grid-column: span 2;
      @include up(md) {
        grid-column: auto;
      }
      #{$root}__link {
        height: 9.4rem;
        @include up(md) {
          height: 10.1rem;
        }
        @include up(lg) {
          height: 12.7rem;
        }
      }
    }
  }
  &__link {
    display: block;
    position: relative;
    background: var(--white);
    box-shadow: 0 8px 24px 0 rgba(129, 135, 189, 0.15);
    border-radius: 0.8rem;
    width: 100%;
    height: 10.1rem;
    @include transition(background-color);
    @include up(lg) {
      height: 12.7rem;
    }
    @include hover {
      &:not(:active) {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__text {
    text-align: center;
    font-size: 1.6rem;
    @include up(md) {
      text-align: left;
      font-size: 1.8rem;
    }
    @include up(lg) {
      text-align: center;
      font-size: 2rem;
    }
  }
  &._option-1 {
    @include up(md) {
      gap: 3rem;
    }
    @include up(lg) {
      flex-direction: column;
      align-items: stretch;
      gap: 3rem;
      padding: 0;
    }
    @include up(xl) {
    }
    #{$root}__title {
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.5;
      @include up(md) {
        text-align: center;
      }
      @include up(lg) {
        height: auto;
        max-width: none;
      }
    }
    #{$root}__list {
      @include up(md) {
        gap: 2.22rem;
        padding: 0 1.2%;
      }
      @include up(lg) {
        gap: 2.22rem;
        padding: 0 19.5%;
      }
      @include up(xl) {
        gap: 2.3rem;
        padding: 0 23.9%;
      }
    }
    #{$root}__link {
      @include up(md) {
        height: 9.9rem;
      }
      @include up(lg) {
        height: 9.9rem;
      }
    }
    #{$root}__item._rutube {
      #{$root}__link {
        @include up(md) {
          height: 9.9rem;
        }
        @include up(lg) {
          height: 9.9rem;
        }
      }
    }
  }
}
