@use 'sass:math';
@use '../utils' as *;

.catalog {
  &._content {
    padding-top: 8.1rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }
  &__title {
    &.h2 {
      font-size: 4.6rem;
      line-height: 1;
    }
  }
  &__info {
    @include up(lg) {
      display: flex;
      align-items: flex-start;
      gap: 0 2.7rem;
    }
    @include up(xl) {
      gap: 0 4.55rem;
    }
  }
  &__sidebar {
    width: 100%;
    flex: none;
    @include up(lg) {
      width: 22.402%;
    }
    @include up(xl) {
      width: 19.291%;
    }
  }
  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    @include up(md) {
      row-gap: 4rem;
    }
    @include up(lg) {
      row-gap: 6rem;
    }
  }
  &__panel {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include up(md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    &-sort {
      width: fit-content;
      max-width: 100%;
      order: 3;
      @include up(md) {
        order: 2;
      }
      .ts-wrapper {
        min-width: 25.2rem;
      }
    }
    &-search {
      order: 2;
      width: 100%;
      @include up(md) {
        order: 3;
        width: 37.357%;
      }
      @include up(lg) {
        width: 30.99%;
      }
      @include up(xl) {
        width: 25.988%;
      }
    }
  }
  &__filter-btn {
    width: 100%;
    order: 1;
    gap: 0 1.6rem;
    height: 6rem;
    flex: none;
    @include up(md) {
      width: fit-content;
    }
    @include up(lg) {
      display: none;
    }
    &:not(._text, ._text-button) {
      padding: 1rem;
    }
    .btn__icon {
      width: 3.8rem;
      height: 3.8rem;
      color: var(--blue);
    }
    .btn__text {
      @include up(md) {
        display: none;
      }
    }
  }
  &__list {
    padding: 0 7.773%;
    @include up(md) {
      padding: 0;
    }
    @include up(lg) {
      padding: 0 5.2%;
    }
    @include up(xl) {
      padding: 0;
    }
    &-content {
      display: flex;
      flex-direction: column;
      row-gap: 5.95rem;
      @include up(md) {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -0.15rem;
      }
      @include up(lg) {
        margin: 0;
      }
    }
    &-item {
      @include up(md) {
        width: math.div(100%, 3);
      }
      @include up(xl) {
        width: math.div(100%, 4);
      }
      .product-card__content,
      .product-card__footer {
        @include up(md) {
          margin: {
            left: -0.85rem;
            right: -0.85rem;
          }
        }
        @include up(lg) {
          margin: {
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
  &__pagination {
    margin: {
      left: -9.1%;
      right: -9.1%;
    }
    @include up(md) {
      margin: {
        left: 0;
        right: 0;
      }
    }
    * + & {
      margin-top: 4rem;
    }
  }
  &__empty-result {
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    opacity: 0.4;
    @include up(md) {
      padding-top: 4rem;
    }
    @include up(lg) {
      padding-top: 2rem;
    }
  }
}
