@use 'sass:math';
@use 'sass:map';
@use '../utils' as *;

.detail {
  $root: &;

  &__container,
  &__info,
  &__content,
  &__settings,
  &__footer {
    display: flex;
    flex-direction: column;
  }
  &__container {
    row-gap: 4rem;
    @include up(md) {
      row-gap: 6rem;
    }
  }
  &__info {
    gap: 6rem 0;
    @include up(md) {
      gap: 7.62rem 0;
    }
    @include up(lg) {
      flex-direction: row;
      align-items: flex-start;
      gap: 0 6.1rem;
    }
    @include up(xl) {
      gap: 0 3.8rem;
    }
  }
  &__gallery {
    flex: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    @include up(md) {
      padding: 0 8.6%;
    }
    @include up(lg) {
      padding: 0;
      width: 40.4%;
    }
    @include up(xl) {
      width: 48%;
    }
    &-content {
      width: 100%;
      position: relative;
      @include up(md) {
        padding: {
          left: 4.6rem;
          right: 4.6rem;
        }
      }
      @include up(lg) {
        padding: 0;
      }
      @include up(xl) {
        padding: {
          left: 4.6rem;
          right: 4.6rem;
        }
      }
    }
    &-list,
    &-thumbs {
      overflow: hidden;
    }
    &-list {
      border-radius: 1rem;
      .swiper {
        position: static;
        margin: {
          left: -1.5rem;
          right: -1.5rem;
        }
        &-slide {
          padding: {
            left: 1.5rem;
            right: 1.5rem;
          }
        }
      }
      .swiper-initialized {
        .swiper-btn {
          display: none;
          @include up(md) {
            display: flex;
          }
          @include up(lg) {
            display: none;
          }
          @include up(xl) {
            display: flex;
          }
        }
      }
    }
    &-picture {
      position: relative;
      overflow: hidden;
      border-radius: 1rem;
      width: 100%;
      flex: none;
      display: block;
      @include aspect(530, 705);
      picture {
        width: 100%;
        height: 100%;
      }
    }
    &-thumbs {
      margin: {
        left: auto;
        right: auto;
      }
      width: 100%;
      max-width: 63%;
      @include up(md) {
        max-width: 47.4%;
      }
      @include up(lg) {
        max-width: 61%;
      }
      @include up(xl) {
        max-width: 44.2%;
      }
      .swiper {
        margin: {
          left: -0.4rem;
          right: -0.4rem;
        }
        &-slide {
          pointer-events: none;
          width: math.div(100%, 3);
          padding: {
            left: 0.4rem;
            right: 0.4rem;
          }
          &:first-of-type {
            margin-left: auto;
          }
          &:last-of-type {
            margin-right: auto;
          }
        }
      }
    }
    &-preview {
      pointer-events: auto;
      border: 0.1rem solid transparent;
      border-radius: 0.5rem;
      padding: 0.2rem;
      width: 100%;
      flex: none;
      cursor: pointer;
      @include transition(border-color);
      .swiper-slide-thumb-active & {
        border-color: var(--link);
      }
      picture {
        overflow: hidden;
        width: 100%;
        border-radius: 0.5rem;
        @include aspect(80, 106);
      }
    }
  }
  &__sale {
    font-size: 2rem;
    font-weight: 500;
    color: var(--orange);
    position: absolute;
    top: 0;
    display: block;
    left: 0;
    z-index: 11;
    @include up(md) {
      top: 0.9rem;
      left: 7.8rem;
    }
    @include up(lg) {
      left: 3.2rem;
    }
    @include up(xl) {
      left: 7.8rem;
    }
  }
  &__content {
    flex: 1 1 auto;
    row-gap: 1.95rem;
    @include up(md) {
      padding: 0 3rem;
    }
    @include up(lg) {
      padding: 0;
    }
  }
  &__title {
    font-size: 2.8rem;
  }
  &__code {
    font-size: 1.6rem;
    opacity: 0.4;
  }
  &__text {
    font-size: 2rem;
  }
  &__characteristics {
    .characteristics__item {
      padding: 0.69rem 0;
      font-size: 2rem;
    }
    .characteristics__name {
      margin-right: 1.1rem;
    }
    .characteristics__list {
      gap: 1rem;
    }
    .characteristics__list-item {
      &::before {
        margin: 0 1.3rem 0 1.4rem;
      }
    }
  }
  &__settings {
    row-gap: 3.95rem;
    &-section {
      &._materials,
      &._colors {
        #{$root}__settings-list {
          row-gap: 0;
          flex-wrap: nowrap;
          overflow-x: auto;
          overflow-y: visible;
          margin: 0 -#{map.get($indents, sm)};
          scrollbar-width: none;
          @include up(md) {
            flex-wrap: wrap;
            overflow: visible;
          }
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
      &._materials {
        #{$root}__settings-list {
          @include up(md) {
            margin: 0 -0.865rem;
            row-gap: 1.73rem;
          }
          @include up(lg) {
            margin: 0 -0.335rem;
            row-gap: 0.67rem;
          }
          @include up(xl) {
            margin: 0 -0.865rem;
            row-gap: 1.73rem;
          }
        }
        #{$root}__settings-item {
          width: 35.7%;
          @include up(md) {
            padding: 0 0.865rem;
            width: math.div(100%, 4);
          }
          @include up(lg) {
            padding: 0 0.335rem;
          }
          @include up(xl) {
            padding: 0 0.865rem;
          }
          &:first-child {
            margin-left: map.get($indents, sm) - 0.5rem;
            @include up(md) {
              margin-left: 0;
            }
          }
          &:last-child {
            margin-right: map.get($indents, sm) - 0.5rem;
            @include up(md) {
              margin-right: 0;
            }
          }
        }
      }
      &._graphics {
        * + & {
          @include up(md) {
            margin-top: 0;
          }
          @include up(xl) {
            margin-top: -0.4rem;
          }
        }
        #{$root}__settings-list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          @include up(md) {
            grid-template-columns: 34.2% 24.1% 23.6%;
          }
          @include up(lg) {
            grid-template-columns: 36% 25.4% 24.8%;
          }
          @include up(xl) {
            grid-template-columns: 34.3% 24.2% 23.4%;
          }
        }
        #{$root}__settings-item {
          &._full {
            grid-column: span 2;
            @include up(md) {
              grid-column: auto;
            }
            .setting-btn__content {
              padding: {
                top: 1.6rem;
                bottom: 1.6rem;
              }
            }
            .setting-btn__label {
              max-width: 11.6rem;
              @include up(md) {
                max-width: 21rem;
              }
            }
          }
        }
      }
      &._colors {
        #{$root}__settings-list {
          @include up(md) {
            margin: 0 -0.96rem;
            row-gap: 1.92rem;
          }
          @include up(lg) {
            margin: 0 -0.64rem;
            row-gap: 1.28rem;
          }
          @include up(xl) {
            margin: 0 -0.79rem;
            row-gap: 1.58rem;
          }
        }
        #{$root}__settings-item {
          padding: 0 0.8rem;
          width: 27.2%;
          @include up(md) {
            padding: 0 0.96rem;
            width: math.div(100%, 6);
          }
          @include up(lg) {
            padding: 0 0.64rem;
          }
          @include up(xl) {
            padding: 0 0.79rem;
          }
          &:first-child {
            margin-left: map.get($indents, sm) - 0.8rem;
            @include up(md) {
              margin-left: 0;
            }
          }
          &:last-child {
            margin-right: map.get($indents, sm) - 0.8rem;
            @include up(md) {
              margin-right: 0;
            }
          }
        }
      }
      &._captures {
        #{$root}__settings-list {
          display: grid;
          grid-template-columns: 36.2% 1fr;
          @include up(md) {
            display: flex;
          }
        }
        #{$root}__settings-item {
          @include up(md) {
            width: auto;
          }
        }
        .setting-btn__content {
          padding: {
            top: 1.3rem;
            bottom: 1.3rem;
          }
          @include up(md) {
            padding: 1rem 3.2rem;
          }
        }
      }
    }
    &-title {
      font-size: 2rem;
      line-height: 1.5;
      font-weight: 600;
    }
    &-title + &-content {
      margin-top: 2rem;
    }
    &-subsection + &-subsection {
      margin-top: 2rem;
    }
    &-subtitle {
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 500;
      @include up(md) {
        font-size: 2rem;
      }
    }
    &-subtitle + &-list {
      padding-top: 1.55rem;
      @include up(md) {
        padding-top: 1rem;
      }
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 1rem;
      margin: 0 -0.5rem;
    }
    &-item {
      display: flex;
      flex: none;
      padding: 0 0.5rem;
    }
    &-checkbox {
      * + & {
        margin-top: 2rem;
      }
    }
  }
  &__footer {
    row-gap: 1.9rem;
    align-items: center;
    @include up(md) {
      align-items: flex-start;
    }
    * + & {
      margin-top: 3.2rem;
    }
    &-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      @include up(md) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
      }
    }
  }
  &__prices {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.8rem 2rem;
    justify-content: center;
    @include up(md) {
      flex: 1 1 auto;
      min-height: 5.2rem;
      justify-content: flex-start;
    }
    &-current,
    &-old {
      font-weight: 500;
      display: block;
      width: fit-content;
      text-align: center;
      @include up(md) {
        text-align: left;
      }
    }
    &-current {
      font-size: 2rem;
    }
    &-old {
      font-size: 1.6rem;
      opacity: 0.5;
      text-decoration: line-through;
      line-height: 1;
    }
  }
  &__controls {
    width: 100%;
    flex: none;
    @include up(md) {
      width: 48.114%;
    }
    @include up(lg) {
      width: 50.653%;
    }
    @include up(xl) {
      width: 48.12%;
    }
    &-content {
      display: flex;
      gap: 0.4rem;
    }
  }
  &__counter {
    flex: 1 1 auto;
    width: 100%;
  }
  &__btn {
    height: 5.2rem;
    padding: {
      top: 0;
      bottom: 0;
    }
    width: 100%;
    &._short {
      width: 38.79%;
      border-radius: 0.8rem;
      @include up(md) {
        width: 37.26%;
      }
      @include up(lg) {
        width: 37.26%;
      }
      @include up(xl) {
        width: 37.26%;
      }
    }
  }
  &__error {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--red);
    * + & {
      margin-top: 0.6rem;
    }
  }
}
