@use '../utils' as *;

.faq {
  $root: &;

  &._content {
    padding-top: 8.1rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }
  &__title {
    &.h2 {
      font-size: 4.6rem;
      line-height: 1;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    @include up(lg) {
      width: 86.6%;
    }
    @include up(xl) {
      width: 74.6%;
    }
  }
  &__item {
    &-trigger {
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0 2rem;
      padding: 1.6rem 3.2rem;
      min-height: 6.8rem;
      border-radius: 1rem;
      background: rgba(16, 16, 18, 0.07);
      @include transition(background-color);
      @include hover {
        &:not(:active) {
          background-color: rgba(16, 16, 18, 0.05);
        }
      }
      &:active {
        background-color: rgba(16, 16, 18, 0.04);
      }
      &._shown {
        #{$root}__item-arrow {
          transform: scale(1, -1);
        }
      }
    }
    &-title {
      flex: 1 1 auto;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;
    }
    &-arrow {
      color: var(--text-color);
      flex: none;
      width: 1.8rem;
      height: 1.8rem;
      @include transition(transform);
    }
    &-text {
      display: none;
      padding: 2rem;
      &._shown {
        display: block;
      }
    }
  }
}
