@use 'sass:math';
@use '../utils' as *;

.models {
  background: var(--backgrond);
  padding: {
    top: 5.1rem;
    bottom: 8rem;
  }
  @include up(md) {
    padding-top: 6rem;
  }
  @include up(lg) {
    padding-bottom: 10rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 9.2rem;
    @include up(md) {
      row-gap: 7rem;
    }
    @include up(lg) {
      row-gap: 10rem;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    align-items: center;
    @include up(md) {
      padding: 0 8%;
    }
    @include up(lg) {
      flex-direction: row;
      padding: 0;
      gap: 0 2.1rem;
      justify-content: center;
    }
    @include up(xl) {
      gap: 0 2.5rem;
    }
  }
  &__logo {
    width: 19.6rem;
    height: 2.8rem;
    @include up(md) {
      width: 30.8rem;
      height: 4.4rem;
    }
  }
  &__text {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    @include up(md) {
      font-size: 2rem;
    }
    @include up(lg) {
      position: relative;
      text-align: left;
      max-width: 78.7rem;
      padding-left: 7.8rem;
    }
    @include up(xl) {
      max-width: 79.1rem;
      padding-left: 8.2rem;
    }
    &::before {
      content: '';
      width: 1.5rem;
      height: 0.1rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.6rem;
      background: var(--text-color);
      @include up(md) {
        width: 2rem;
        margin-right: 0.9rem;
      }
      @include up(lg) {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-right: 0;
        width: 5.7rem;
      }
    }
  }
  &__info,
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__info {
    row-gap: 3rem;
    @include up(md) {
      row-gap: 6rem;
    }
    @include up(xl) {
      row-gap: 8rem;
    }
  }
  &__title {
    text-align: center;
  }
  &__content {
    row-gap: 4rem;
  }
  &__listing {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    @include up(md) {
      margin: 0;
      row-gap: 1.4rem;
      padding: 0 20.8%;
    }
    @include up(lg) {
      flex-direction: row;
      padding: 0;
      margin: 0 -0.45rem;
      flex-wrap: wrap;
    }
    @include up(xl) {
      margin: 0 -1.95rem;
    }
    &-item {
      flex: none;
      width: 100%;
      @include up(lg) {
        padding: 0 0.45rem;
        width: math.div(100%, 3);
      }
      @include up(xl) {
        padding: 0 1.95rem;
      }
    }
  }
  &__btn {
    margin: 0 auto;
  }
}
