@use 'sass:math';
@use '../utils' as *;

.models {
  background: var(--backgrond);
  padding: {
    top: 5.1rem;
    bottom: 8rem;
  }
  @include up(md) {
    padding-top: 6rem;
  }
  @include up(lg) {
    padding-bottom: 10rem;
  }
  &._inner {
    padding-top: 8rem;
    @include up(md) {
      padding-top: 8rem;
    }
    @include up(lg) {
      padding: {
        top: 6rem;
        bottom: 6rem;
      }
    }
  }
  &._in-catalog {
    padding-top: 4rem;
    @include up(md) {
      padding-top: 6rem;
    }
    @include up(xl) {
      padding-bottom: 6rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 9.2rem;
    @include up(md) {
      row-gap: 7rem;
    }
    @include up(lg) {
      row-gap: 10rem;
    }
  }
  &__info,
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__info {
    row-gap: 3rem;
    @include up(md) {
      row-gap: 6rem;
    }
    @include up(xl) {
      row-gap: 8rem;
    }
  }
  &__title {
    text-align: center;
    &._left-position {
      @include up(lg) {
        text-align: left;
      }
    }
    &.h3 {
      font-size: 2.8rem;
    }
  }
  &__content {
    row-gap: 4rem;
  }
  &__listing {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    @include up(md) {
      margin: 0;
      row-gap: 1.4rem;
      padding: 0 20.8%;
    }
    @include up(lg) {
      flex-direction: row;
      padding: 0;
      margin: 0 -0.45rem;
      flex-wrap: wrap;
    }
    @include up(xl) {
      margin: 0 -1.95rem;
    }
    &-item {
      flex: none;
      width: 100%;
      @include up(lg) {
        padding: 0 0.45rem;
        width: math.div(100%, 3);
      }
      @include up(xl) {
        padding: 0 1.95rem;
      }
    }
  }
  &__btn {
    margin: 0 auto;
  }
}
