@use 'sass:map';
@use '../utils' as *;

.popup {
  pointer-events: auto;
  cursor: auto;
  display: none;
  border-radius: 2rem;
  background: var(--white);
  box-shadow: 0 8px 24px 0 rgba(129, 135, 189, 0.15);
  width: 100%;
  padding: 5.1rem 2rem;
  @include up(md) {
    max-width: 57rem;
    padding: {
      left: 7.5rem;
      right: 7.5rem;
    }
  }
  &__button-close {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: rgba(16, 16, 18, 0.07);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1.2rem;
    right: 1.2rem;
    cursor: pointer;
    color: var(--text-color);
    @include transition(background-color);
    @include hover {
      &:not(:active) {
        background-color: rgba(16, 16, 18, 0.05);
      }
    }
    &:active {
      background-color: rgba(16, 16, 18, 0.04);
    }
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
  &__content,
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    row-gap: 4rem;
    @include up(md) {
      min-height: 25.7rem;
    }
  }
  &__info {
    flex: 1 1 auto;
    text-align: center;
    row-gap: 3rem;
    @include up(md) {
      row-gap: 4rem;
    }
  }
  &__btns {
    width: 100%;
    flex: none;
    display: flex;
    flex-direction: column;
    gap: 1rem 1.6rem;
    @include up(md) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
    &-item {
      width: 100%;
      @include up(md) {
        width: fit-content;
      }
    }
  }
}
