mixin btn(data)
  if data
    - var { tag, label, icons } = data;
    #{tag || 'button'}.btn&attributes(attributes)
      if icons
        - var { left } = icons;
        +svg(left).btn__icon._left
      if label
        span.btn__text!=label
      if icons
        - var { right } = icons;
        +svg(right).btn__icon._right
