mixin color-btn(data)
  if data
    - var { modificators, img } = data;
    label.color-btn(class=modificators)
      input.js-setting-input(type="radio" value="")&attributes(attributes)
      span.color-btn__content
        if img
          - var { path, width, height } = img;
          span.color-btn__picture
            +img(path)(width=width height=height class="_cover")
