mixin purchases(data)
  if data
    - var { title, itog, products } = data;
    .purchases&attributes(attributes)
      .purchases__wrapper
        if title || itog
          .purchases__header
            if title
              h4.h3.purchases__title!=title
            if itog
              ul.purchases__itog
                each item in itog
                  - var { label, value } = item;
                  li.purchases__itog-item
                    if label
                      span.purchases__itog-label!=label
                    if value
                      span.purchases__itog-value!=value
        if products
          .purchases__content
            each item in products
              +small-product(item)
