extends ./common/wrapper
include ./modules/article-preview
include ./modules/article-content
include ./modules/separator
include ./modules/about
include ./modules/benefits
include ./modules/use
include ./modules/feedback

block config
  - var title = 'О нас';

  -
    var articlePreview = {
      title: {
        tag: 'h1',
        label: title,
      },
      logoText: {
        logo: {
          icon: 'logo',
        },
        text: 'новый бренд стоячих гидроциклов, кастомная постройка с учётом современных требований райдеров и возможностей тюнинга.',
      },
      picture: {
        single: {
          path: 'images/article-preview/2.jpg',
          sizes: {
            _1600: [1296, 688],
            _1280: [1599, 859],
            _1024: [1279, 1146],
            _768: [1023, 916],
            _400: [767, 1213],
            _0: [399, 631],
          },
        },
      },
      socials: {
        title: 'Наши соцсети:',
        btns: [
          {
            url: '#',
            icon: 'rutube',
            target: '_blank',
            modificators: '_rutube',
          },
          {
            url: '#',
            icon: 'youtube',
            target: '_blank',
            modificators: '_youtube',
          },
          {
            url: '#',
            icon: 'vk',
            target: '_blank',
            modificators: '_vk',
          },
        ],
        text: 'Смотрите видео захватывающих заездов наших райдеров и следите за новостями',
      },
    };

  -
    var articleContent = [
      {
        title: {
          tag: 'h3',
          label: 'История создания ZaxJet',
          modificators: '_center',
        },
        desc: [
          {
            content: `<h3>Как всё начиналось</h3><p>Идея создания собственного бренда родилась после работы в Yamaha Motor CIS, где стоячие гидроциклы оставались в тени сидячих моделей, а пожелания клиентов игнорировались. Это противоречие породило индустрию тюнинга — но что, если объединить всё воедино?</p>`,
          },
          {
            content: `<h3>2014-2015 годы</h3><p>Путь начался с создания рынка. В 2014 году в Сочи был проведён первый фестиваль JetCamp, а уже в 2015 году он стал крупнейшим российским фестивалем стоячих гидроциклов. С тех пор фестиваль проходил в разных местах и последние годы проводится в первую неделю октября в Абхазии.</p>`,
            figure: {
              picture: {
                single: {
                  path: 'images/article-content/1.jpg',
                  sizes: {
                    _1600: [855, 482],
                    _1280: [1101, 620],
                    _1024: [1207, 836],
                    _768: [951, 659],
                    _400: [743, 904],
                    _0: [375, 456],
                  },
                },
              },
              label: 'Фестиваль JatCamp в Сочи 2015',
            },
          },
          {
            content: `<h3>2016</h3><p>В 2016 году увольнение из Yamaha стало толчком к запуску проекта, задуманного на годы вперёд. Появились клубы JetCamp в Москве и Сочи. К мастерской Александра Джалагония в Сочи добавилась партнёрская мастерская JetCamp Customs в Москве.</p>`,
            figure: {
              picture: {
                single: {
                  path: 'images/article-content/2.jpg',
                  sizes: {
                    _1600: [855, 482],
                    _1280: [1101, 620],
                    _1024: [1207, 836],
                    _768: [951, 659],
                    _400: [743, 904],
                    _0: [375, 456],
                  },
                },
              },
              label: 'Фото мастерской',
            },
          },
          {
            content: `<h3>2018</h3><p>В 2018 году был создан первый корпус JetCamp — разработка велась совместно с Давидом Джалагония. Алексей Коробка реализовал проект с нуля в техническом плане.</p>`,
            figure: {
              picture: {
                single: {
                  path: 'images/article-content/3.jpg',
                  sizes: {
                    _1600: [855, 482],
                    _1280: [1101, 620],
                    _1024: [1207, 836],
                    _768: [951, 659],
                    _400: [743, 904],
                    _0: [375, 456],
                  },
                },
              },
              label: 'Фото первого корпуса',
            },
          },
          {
            content: `<h3>2022</h3><p>В 2022 году было запущено полноценное производство в Москве. В проект вошёл новый партнёр — серфер Никита Абрамов.</p>`,
            figure: {
              picture: {
                single: {
                  path: 'images/article-content/4.jpg',
                  sizes: {
                    _1600: [855, 482],
                    _1280: [1101, 620],
                    _1024: [1207, 836],
                    _768: [951, 659],
                    _400: [743, 904],
                    _0: [375, 456],
                  },
                },
              },
              label: 'Фото производства 2022',
            },
          },
        ],
      },
      {
        title: {
          tag: 'h3',
          label: 'Модели ZaxJet',
          modificators: '_left',
        },
        desc: [
          {
            content: `<p>Идея создания собственного бренда родилась после работы в Yamaha Motor CIS, где стоячие гидроциклы оставались в тени сидячих моделей, а пожелания клиентов игнорировались. Это противоречие породило индустрию тюнинга — но что, если объединить всё воедино?</p>`,
          },
          {
            content: `<h3>2022</h3>`,
            models: [
              {
                text: 'Запуск модели JetCamp под новым названием <strong>2Ride</strong>',
                picture: {
                  single: {
                    path: 'images/article-content/models/5.jpg',
                    sizes: {
                      _1600: [628, 353],
                      _1280: [813, 457],
                      _1024: [1207, 681],
                      _768: [951, 537],
                      _400: [743, 419],
                      _0: [375, 212],
                    },
                  },
                },
              },
            ],
          },
          {
            content: `<h3>2023</h3>`,
            models: [
              {
                text: 'Выпуск модели <strong>2Style</strong>',
                picture: {
                  single: {
                    path: 'images/article-content/models/3.jpg',
                    sizes: {
                      _1600: [628, 353],
                      _1280: [813, 457],
                      _1024: [1207, 681],
                      _768: [951, 537],
                      _400: [743, 419],
                      _0: [375, 212],
                    },
                  },
                },
              },
            ],
          },
          {
            content: `<h3>2024</h3>`,
            models: [
              {
                text: 'Выпуск <strong>2StylePRO</strong> — более короткая и агрессивная версия 2Style',
                picture: {
                  single: {
                    path: 'images/article-content/models/4.jpg',
                    sizes: {
                      _1600: [628, 353],
                      _1280: [813, 457],
                      _1024: [1207, 681],
                      _768: [951, 537],
                      _400: [743, 419],
                      _0: [375, 212],
                    },
                  },
                },
              },
            ],
          },
          {
            content: `<h3>2025</h3>`,
            models: [
              {
                text: 'Запуск флагмана <strong>RidePro</strong>, созданного на базе фристайл-корпусов, короче и шире, чем 2Ride',
                picture: {
                  single: {
                    path: 'images/article-content/models/6.jpg',
                    sizes: {
                      _1600: [628, 353],
                      _1280: [813, 457],
                      _1024: [1207, 681],
                      _768: [951, 537],
                      _400: [743, 419],
                      _0: [375, 212],
                    },
                  },
                },
              },
              {
                text: 'Выпуск модели <strong>Duck</strong> для детей и лёгких райдеров',
                picture: {
                  single: {
                    path: 'images/article-content/models/2.jpg',
                    sizes: {
                      _1600: [628, 353],
                      _1280: [813, 457],
                      _1024: [1207, 681],
                      _768: [951, 537],
                      _400: [743, 419],
                      _0: [375, 212],
                    },
                  },
                },
              },
              {
                text: 'Первая партия <strong>моторов</strong> под брендом JC',
                picture: {
                  single: {
                    path: 'images/article-content/models/7.jpg',
                    sizes: {
                      _1600: [628, 353],
                      _1280: [813, 457],
                      _1024: [1207, 681],
                      _768: [951, 537],
                      _400: [743, 419],
                      _0: [375, 212],
                    },
                  },
                },
              },
            ],
          },
          {
            content: `<h3>В разработке</h3>`,
            models: [
              {
                text: 'Разработка модели <strong>4Race</strong> и мотосёрфа <strong>Gsurf</strong>',
                picture: {
                  single: {
                    path: 'images/article-content/models/8.jpg',
                    sizes: {
                      _1600: [628, 353],
                      _1280: [813, 457],
                      _1024: [1207, 681],
                      _768: [951, 537],
                      _400: [743, 419],
                      _0: [375, 212],
                    },
                  },
                },
              },
              {
                text: 'План выпуска <strong>Blast</strong> — маленькой сидячей модели для фрирайда, эндуро и трюков',
                picture: {
                  single: {
                    path: 'images/article-content/models/9.jpg',
                    sizes: {
                      _1600: [628, 353],
                      _1280: [813, 457],
                      _1024: [1207, 681],
                      _768: [951, 537],
                      _400: [743, 419],
                      _0: [375, 212],
                    },
                  },
                },
              },
            ],
          },
        ],
        moduleBtn: {
          options: {
            tag: 'a',
            label: 'Все модели ZaxJet',
          },
          attrs: {
            href: '#',
            class: '_outline-primary',
          },
        },
      },
    ];

  -
    var separator = {
      picture: {
        single: {
          path: 'images/separator/1.jpg',
          sizes: {
            _1600: [1920, 168],
            _1280: [1599, 168],
            _1024: [1279, 101],
            _768: [1023, 101],
            _400: [767, 104],
            _0: [399, 137],
          },
        },
      },
      logo: {
        icon: 'logo',
      },
      text: 'это путь RidePerformance',
    };

  -
    var about = {
      header: {
        title: {
          tag: 'h3',
          label: 'Ride<wbr>Performance',
        },
        text: 'RidePerformance — философия ZaxJet, основанная на удовольствии от катания и управляемости.',
      },
      listing: {
        title: {
          tag: 'h4',
          label: 'Это:',
        },
        list: [
          'Вес гидроцикла, обеспечивающий манёвренность',
          'Качество сборки и продуманная компоновка',
          'Грамотно настроенный мотор',
          'Эргономика и стиль, создающие эффект кастомного мотоцикла',
        ],
      },
      brands: {
        title: {
          tag: 'h4',
          label: 'Дилеры и представители ZaxJet',
        },
        cards: [
          {
            icon: 'location',
            name: 'JetCamp Москва',
          },
          {
            icon: 'location',
            name: 'Давид Джалагония <br>(JetCamp Сочи)',
          },
          {
            icon: 'location',
            name: 'Alimax Station <br>(Колян Соколян)',
          },
          {
            icon: 'location',
            name: 'Давид Джологуа <br>(райдер, представитель)',
          },
          {
            icon: 'location',
            name: 'Маша Бехер <br>(райдер, представитель)',
          },
        ],
      },
      gallery: {
        title: {
          tag: 'h4',
          label: 'ZaxJet — это будущее',
        },
        text: `
          <p>ZaxJet — это будущее серийных стоячих гидроциклов, разработанных на базе кастомных решений.</p>
          <p>В отличие от крупных производителей, ZaxJet создаёт модели, ориентируясь на потребности любителей и профессиональных райдеров.</p>
        `,
        cards: [
          {
            url: 'images/about/gallery/1.jpg',
            picture: {
              single: {
                path: 'images/about/gallery/1.jpg',
                sizes: {
                  _1600: [855, 1134],
                  _1280: [947, 1264],
                  _1024: [797, 1070],
                  _768: [628, 839],
                  _400: [743, 983],
                  _0: [375, 496],
                },
              },
            },
          },
          {
            url: 'images/about/gallery/2.jpg',
            picture: {
              single: {
                path: 'images/about/gallery/2.jpg',
                sizes: {
                  _1600: [417, 541],
                  _1280: [468, 608],
                  _1024: [397, 516],
                  _768: [310, 403],
                  _400: [743, 964],
                  _0: [375, 487],
                },
              },
            },
          },
          {
            url: 'images/about/gallery/3.jpg',
            picture: {
              single: {
                path: 'images/about/gallery/3.jpg',
                sizes: {
                  _1600: [417, 569],
                  _1280: [468, 639],
                  _1024: [397, 543],
                  _768: [310, 424],
                  _400: [743, 1014],
                  _0: [375, 512],
                },
              },
            },
          },
        ],
      },
    };

  -
    var benefits = {
      title: {
        tag: 'h3',
        label: 'Преимущества ZaxJet',
      },
      cards: [
        [
          {
            img: {
              path: 'images/benefits/1.svg',
              width: 130,
              height: 130,
            },
            title: 'Индивидуальная сборка',
            text: 'ZaxJet — это не серийный продукт. Мы собираем каждый гидроцикл под райдера: мотор, тюнинг, комплектация — всё под конкретную задачу.',
          },
          {
            img: {
              path: 'images/benefits/2.svg',
              width: 130,
              height: 130,
            },
            title: 'Лёгкие и прочные корпуса',
            text: 'Используем T700 углеткань + прочнейшее связующее. Работаем на фрезерованных мастер-моделях. Это уровень, недоступный большинству азиатских брендов.',
          },
          {
            img: {
              path: 'images/benefits/3.svg',
              width: 130,
              height: 130,
            },
            title: 'Совместимость с популярными моторами',
            text: 'Подходит под Yamaha 2Т и собственный мотор JC. Удобно настраивать, легко ремонтировать, нет проблем с доступностью запчастей.',
          },
          {
            img: {
              path: 'images/benefits/4.svg',
              width: 130,
              height: 130,
            },
            title: 'Запчасти в наличии',
            text: 'Магазин с полным ассортиментом: комплектующие для ZaxJet и Yamaha SuperJet 2Т (до 2018 года). Всё — здесь и сейчас.',
          },
        ],
        [
          {
            img: {
              path: 'images/benefits/5.svg',
              width: 130,
              height: 130,
            },
            title: 'Сеть дилеров и партнёрский сервис',
            text: 'JetCamp Москва и JetCamp Сочи — официальные дилеры. Помощь и ремонт доступны также у наших партнёров по всей России.',
          },
          {
            img: {
              path: 'images/benefits/6.svg',
              width: 130,
              height: 130,
            },
            title: 'Производство в Москве',
            text: 'Можно отремонтировать, перекрасить, восстановить корпус, заменить наклейки. С импортными — не решаемо. Ни сервиса, ни наклеек, ни доступа к матрицам.',
          },
          {
            img: {
              path: 'images/benefits/7.svg',
              width: 130,
              height: 130,
            },
            title: 'Сделано райдерами',
            text: 'ZaxJet — результат работы кастомных мастерских и фестивалей JetCamp. Мы строим технику, на которой сами катаемся.',
          },
          {
            img: {
              path: 'images/benefits/8.svg',
              width: 130,
              height: 130,
            },
            title: 'Официальная работа',
            text: 'Мы — резиденты «Сколково». Работаем по безналу, с документами. Покупая ZaxJet, ты поддерживаешь российскую экономику.',
          },
        ],
      ],
    };

  -
    var use = {
      title: {
        tag: 'h3',
        label: 'Что означает Zax?',
      },
      content: [
        {
          picture: {
            single: {
              path: 'images/use/1.jpg',
              sizes: {
                _1600: [629, 368],
                _1280: [600, 351],
                _1024: [811, 475],
                _768: [639, 374],
                _400: [743, 688],
                _0: [375, 347],
              },
            },
          },
          text: `
            <p>Название Zax вдохновлено образом маленькой ракеты. А еще на самом логотипе Zax сложены фины для серфинга в виде карбоновой ткани, обозначая пересечение композитных технологий с водой.</p>
            <p>Также Zax – это старинное название инструмента для точной обработки материалов, предназначенного для точного отсечения всего лишнего. Это отражает философию ZaxJet: мы убрали избыточный вес, ненужные детали и бесполезные элементы, которые не имеют смысла.</p>
          `,
        },
        {
          picture: {
            single: {
              path: 'images/use/2.jpg',
              sizes: {
                _1600: [628, 538],
                _1280: [600, 653],
                _1024: [1207, 829],
                _768: [951, 653],
                _400: [743, 843],
                _0: [375, 426],
              },
            },
          },
          listing: {
            title: {
              tag: 'h4',
              label: 'В наших гидроциклах старина пересекается с новизной:',
            },
            list: [
              '⁠Лёгкие 2Т моторы и композитные корпуса в совокупности с тюнингом обеспечивают лёгкость и технологичность, недостижимую для серийных производителей.',
              '⁠Мы объединяем традиционные принципы конструктивного минимализма с современными композитными материалами и инженерными решениями.',
              'Только чистый, функциональный и выверенный гидроцикл без компромиссов.',
            ],
          },
        },
      ],
      subtext: 'Zax – имя, имеющее много значений, <br>все они отражены в философии наших продуктов',
      btn: {
        options: {
          tag: 'a',
          label: 'Как собрать свой аквабайк?',
        },
        attrs: {
          href: '#',
        },
      },
    };

  -
    var feedback = {
      title: {
        tag: 'h3',
        label: 'Остались вопросы?',
      },
      text: 'Пишите нам или нашим партнёрам — подберём модель, комплектацию, рассчитаем сроки и стоимость.',
      telephone: {
        url: 'tel:+79911758377',
        label: '+7 (991) 175-83-77',
      },
      networks: [
        {
          url: '#',
          icon: 'feed-telegram',
          target: '_blank',
          label: 'Telegram',
        },
        {
          url: '#',
          icon: 'feed-whatsapp',
          target: '_blank',
          label: 'WhatsApp',
        },
        {
          url: 'mailto:ask@zaxjet.com',
          icon: 'feed-email',
          label: 'ask@zaxjet.com',
        },
      ],
    };

block content
  +article-preview(articlePreview)._inner
  +article-content(articleContent)._inner
  +separator(separator)
  +about(about)
  +benefits(benefits)
  +use(use)
  +feedback(feedback)._questions
