extends ./common/wrapper
include ./modules/page-basket
include ./modules/short-catalog
include ./modules/feedback

block config
  - var title = 'Корзина';

  -
    var pageBasket = {
      title: {
        tag: 'h1',
        label: 'Корзина',
      },
      count: '6 товаров',
      cards: [
        {
          checkbox: {
            attrs: {
              name: 'product-1',
              class: 'js-selected-one',
            },
          },
          picture: {
            single: {
              path: 'images/basket/1.png',
              sizes: {
                _768: [140, 140],
                _0: [100, 100],
              },
            },
          },
          title: 'Корпус для гидроцикла RidePro 4.1',
          info: [
            {
              label: 'Материал:',
              value: 'карбон',
            },
            {
              label: 'Цвет:',
              value: 'шашечка Луи',
            },
            {
              label: 'Кит графики:',
              value: 'хром',
            },
            {
              label: 'Индивидуальная графика:',
              value: 'да',
            },
            {
              label: 'Цвет матов:',
              value: 'фиолетовый',
            },
            {
              label: 'Захваты для ног:',
              value: 'Wimelton',
            },
          ],
          footer: {
            prices: {
              current: '1 180 000 р.',
            },
            link: {
              options: {
                tag: 'a',
                label: 'Под заказ',
                icons: {
                  left: 'info',
                },
              },
              attrs: {
                href: '#',
              },
            },
            counter: {
              count: 1,
            },
          },
        },
        {
          checkbox: {
            attrs: {
              name: 'product-2',
              class: 'js-selected-one',
            },
          },
          picture: {
            single: {
              path: 'images/basket/2.png',
              sizes: {
                _768: [140, 140],
                _0: [100, 100],
              },
            },
          },
          title: 'Кольцо водомета 144',
          footer: {
            prices: {
              current: '46 800 р.',
              old: '52 000 р.',
            },
            sale: '-10%',
            counter: {
              count: 2,
            },
          },
        },
        {
          checkbox: {
            attrs: {
              name: 'product-3',
              class: 'js-selected-one',
            },
          },
          picture: {
            single: {
              path: 'images/basket/3.png',
              sizes: {
                _768: [140, 140],
                _0: [100, 100],
              },
            },
          },
          title: 'Выхлопная труба',
          footer: {
            prices: {
              current: '270 000 р.',
            },
            counter: {
              count: 3,
            },
          },
        },
      ],
      itog: {
        list: [
          {
            label: 'ИТОГО',
            value: '1 496 800 р.',
          },
        ],
        btn: {
          options: {
            tag: 'button',
            label: 'Оформить заказ',
          },
          attrs: {
            type: 'submit',
          },
        },
      },
      promo: {
        field: {
          options: {
            tag: 'input',
          },
          attrs: {
            type: 'text',
            name: 'code',
            placeholder: 'Промокод',
            autocomplete: 'off',
          },
        },
        btn: {
          options: {
            tag: 'button',
            label: 'Применить',
          },
          attrs: {
            type: 'button',
            disabled: true,
          },
        },
      },
    };

  -
    var shortCatalog = {
      title: {
        tag: 'h3',
        label: 'С этим покупают',
        attrs: {
          class: 'h3',
        },
      },
      cards: [
        {
          picture: {
            single: {
              path: 'images/short-catalog/1.png',
              sizes: {
                _1600: [161, 161],
                _1280: [216, 216],
                _1024: [294, 294],
                _768: [227, 227],
                _400: [422, 422],
                _0: [206, 206],
              },
            },
          },
          name: 'Водозаборная решетка алюминий',
          info: {
            text: '<div>под заказ</div><a href="#">подробнее</a>',
          },
          prices: {
            current: '18 000 р.',
          },
        },
        {
          sale: '-20%',
          picture: {
            single: {
              path: 'images/short-catalog/2.png',
              sizes: {
                _1600: [161, 161],
                _1280: [216, 216],
                _1024: [294, 294],
                _768: [227, 227],
                _400: [422, 422],
                _0: [206, 206],
              },
            },
          },
          name: 'Задний кронштейн аккумулятора',
          prices: {
            current: '14 400 р.',
            old: '18 000 р.',
          },
        },
        {
          picture: {
            single: {
              path: 'images/short-catalog/3.png',
              sizes: {
                _1600: [161, 161],
                _1280: [216, 216],
                _1024: [294, 294],
                _768: [227, 227],
                _400: [422, 422],
                _0: [206, 206],
              },
            },
          },
          name: 'Чин-пад видовой карбон',
          prices: {
            current: '38 000 р.',
          },
        },
        {
          picture: {
            single: {
              path: 'images/short-catalog/4.png',
              sizes: {
                _1600: [161, 161],
                _1280: [216, 216],
                _1024: [294, 294],
                _768: [227, 227],
                _400: [422, 422],
                _0: [206, 206],
              },
            },
          },
          name: 'Чин-пад стеклоткань',
          prices: {
            current: '17 000 р.',
          },
        },
        {
          sale: '-15%',
          picture: {
            single: {
              path: 'images/short-catalog/5.png',
              sizes: {
                _1600: [161, 161],
                _1280: [216, 216],
                _1024: [294, 294],
                _768: [227, 227],
                _400: [422, 422],
                _0: [206, 206],
              },
            },
          },
          name: 'Водозаборная решетка алюминий',
          prices: {
            current: '32 300 р.',
            old: '38 000 р.',
          },
        },
      ],
    };

  -
    var feedback = {
      title: {
        tag: 'h3',
        label: 'Остались вопросы?',
      },
      text: 'Пишите нам или нашим партнёрам — подберём модель, комплектацию, рассчитаем сроки и стоимость.',
      telephone: {
        url: 'tel:+79911758377',
        label: '+7 (991) 175-83-77',
      },
      networks: [
        {
          url: '#',
          icon: 'feed-telegram',
          target: '_blank',
          label: 'Telegram',
        },
        {
          url: '#',
          icon: 'feed-whatsapp',
          target: '_blank',
          label: 'WhatsApp',
        },
        {
          url: 'mailto:ask@zaxjet.com',
          icon: 'feed-email',
          label: 'ask@zaxjet.com',
        },
      ],
    };

block content
  +page-basket(pageBasket)
  +short-catalog(shortCatalog)._inner
  +feedback(feedback)
