extends ./common/wrapper
include ./modules/models
include ./modules/feedback

block config
  - var title = 'Мотор и запчасти';

  -
    var models = {
      title: {
        tag: 'h3',
        label: 'Модели ZaxJet',
        attrs: {
          class: 'h2',
        },
      },
      cards: [
        {
          picture: {
            single: {
              path: 'images/models/1.png',
              sizes: {
                _1600: [406, 157],
                _1280: [472, 203],
                _1024: [705, 273],
                _768: [555, 215],
                _400: [743, 320],
                _0: [375, 161],
              },
            },
          },
          name: 'RidePro',
          price: 'от 930 000 р.',
        },
        {
          picture: {
            single: {
              path: 'images/models/2.png',
              sizes: {
                _1600: [406, 157],
                _1280: [472, 203],
                _1024: [705, 273],
                _768: [555, 215],
                _400: [743, 320],
                _0: [375, 161],
              },
            },
          },
          name: '2Style',
          price: 'от 1 050 000 р.',
        },
        {
          picture: {
            single: {
              path: 'images/models/3.png',
              sizes: {
                _1600: [406, 157],
                _1280: [472, 203],
                _1024: [705, 273],
                _768: [555, 215],
                _400: [743, 320],
                _0: [375, 161],
              },
            },
          },
          name: '2StylePro',
          price: 'от 1 050 000 р.',
        },
      ],
      btn: {
        options: {
          tag: 'a',
          label: 'Все модели',
          icons: {
            right: 'chevron-right',
          },
        },
        attrs: {
          href: '#',
        },
      },
    };

  -
    var feedback = {
      title: {
        tag: 'h3',
        label: 'Остались вопросы?',
      },
      text: 'Пишите нам или нашим партнёрам — подберём модель, комплектацию, рассчитаем сроки и стоимость.',
      telephone: {
        url: 'tel:+79911758377',
        label: '+7 (991) 175-83-77',
      },
      networks: [
        {
          url: '#',
          icon: 'feed-telegram',
          target: '_blank',
          label: 'Telegram',
        },
        {
          url: '#',
          icon: 'feed-whatsapp',
          target: '_blank',
          label: 'WhatsApp',
        },
        {
          url: 'mailto:ask@zaxjet.com',
          icon: 'feed-email',
          label: 'ask@zaxjet.com',
        },
      ],
    };

block content
  +models(models)._in-catalog
  +feedback(feedback)._questions
