extends ./common/wrapper
include ./modules/detail

block config
  - var title = 'Корпус для гидроцикла RidePro 4.1';

  -
    var detail = {
      breadcrumbs: [
        'Главная',
        'Каталог моделей',
        title,
      ],
      gallery: {

      },
      content: {
        title,
        code: 'Артикул: ZJRPG41',
        settings: [
          {
            modificators: '_materials',
            title: 'Материал корпуса:',
            cards: [
              {
                subtitle: 'Стеклоткань',
                type: 'materials',
                list: [
                  {
                    options: {
                      img: {
                        path: 'images/detail/materials/1.jpg',
                        width: 130,
                        height: 60,
                      },
                      label: 'Любой цвет',
                      price: '930 000',
                    },
                    attrs: {
                      name: 'materials',
                    },
                  },
                  {
                    options: {
                      img: {
                        path: 'images/detail/materials/2.jpg',
                        width: 130,
                        height: 60,
                      },
                      label: 'Крупный твилл',
                      price: '990 000',
                    },
                    attrs: {
                      name: 'materials',
                    },
                  },
                  {
                    options: {
                      img: {
                        path: 'images/detail/materials/3.jpg',
                        width: 130,
                        height: 60,
                      },
                      label: 'Шашечка Луи',
                      price: '990 000',
                    },
                    attrs: {
                      name: 'materials',
                    },
                  },
                  {
                    options: {
                      img: {
                        path: 'images/detail/materials/4.jpg',
                        width: 130,
                        height: 60,
                      },
                      label: 'Конструктив',
                      price: '930 000',
                    },
                    attrs: {
                      name: 'materials',
                    },
                  },
                ],
              },
              {
                subtitle: 'Карбон',
                type: 'materials',
                list: [
                  {
                    options: {
                      img: {
                        path: 'images/detail/materials/1.jpg',
                        width: 130,
                        height: 60,
                      },
                      label: 'Любой цвет',
                      price: '1 090 000',
                    },
                    attrs: {
                      name: 'materials',
                    },
                  },
                  {
                    options: {
                      img: {
                        path: 'images/detail/materials/2.jpg',
                        width: 130,
                        height: 60,
                      },
                      label: 'Крупный твилл',
                      price: '1 150 000',
                    },
                    attrs: {
                      name: 'materials',
                    },
                  },
                  {
                    options: {
                      img: {
                        path: 'images/detail/materials/3.jpg',
                        width: 130,
                        height: 60,
                      },
                      label: 'Шашечка Луи',
                      price: '1 150 000',
                    },
                    attrs: {
                      name: 'materials',
                    },
                  },
                  {
                    options: {
                      img: {
                        path: 'images/detail/materials/4.jpg',
                        width: 130,
                        height: 60,
                      },
                      label: 'Конструктив',
                      price: '1 150 000',
                    },
                    attrs: {
                      name: 'materials',
                    },
                  },
                ],
              },
            ],
          },
          {
            modificators: '_graphics',
            title: 'Кит графики:',
            cards: [
              {
                type: 'default',
                list: [
                  {
                    options: {
                      modificators: '_full',
                      label: 'Стандартный на выбор',
                    },
                    attrs: {
                      name: 'graphics',
                    },
                  },
                  {
                    options: {
                      label: 'Хром',
                      price: '+25 000',
                    },
                    attrs: {
                      name: 'graphics',
                    },
                  },
                  {
                    options: {
                      label: 'Неон',
                      price: '+15 000',
                    },
                    attrs: {
                      name: 'graphics',
                    },
                  },
                ],
              },
            ],
            checkbox: {
              options: {
                label: 'Разработка индивидуальных цветов графики&nbsp;&nbsp;&nbsp;<strong>+10 000</strong>'
              },
              attrs: {
                name: 'individual',
              },
            },
          },
          {
            modificators: '_colors',
            title: 'Цвет матов:',
            cards: [
              {
                type: 'colors',
                list: [
                  {
                    options: {
                      img: {
                        path: 'images/detail/colors/1.jpg',
                        width: 84,
                        height: 49,
                      },
                    },
                    attrs: {
                      name: 'colors',
                    },
                  },
                  {
                    options: {
                      img: {
                        path: 'images/detail/colors/2.jpg',
                        width: 84,
                        height: 49,
                      },
                    },
                    attrs: {
                      name: 'colors',
                    },
                  },
                  {
                    options: {
                      img: {
                        path: 'images/detail/colors/3.jpg',
                        width: 84,
                        height: 49,
                      },
                    },
                    attrs: {
                      name: 'colors',
                    },
                  },
                  {
                    options: {
                      img: {
                        path: 'images/detail/colors/4.jpg',
                        width: 84,
                        height: 49,
                      },
                    },
                    attrs: {
                      name: 'colors',
                    },
                  },
                  {
                    options: {
                      img: {
                        path: 'images/detail/colors/5.jpg',
                        width: 84,
                        height: 49,
                      },
                    },
                    attrs: {
                      name: 'colors',
                    },
                  },
                  {
                    options: {
                      img: {
                        path: 'images/detail/colors/6.jpg',
                        width: 84,
                        height: 49,
                      },
                    },
                    attrs: {
                      name: 'colors',
                    },
                  },
                ],
              },
            ],
          },
          {
            modificators: '_captures',
            title: 'Захваты для ног:',
            cards: [
              {
                type: 'default',
                list: [
                  {
                    options: {
                      label: 'RRP',
                    },
                    attrs: {
                      name: 'captures',
                    },
                  },
                  {
                    options: {
                      label: 'WAMILTON',
                    },
                    attrs: {
                      name: 'captures',
                    },
                  },
                ],
              },
            ],
          },
        ],
        status: {
          modificators: '_to-order',
          icon: 'info',
          label: 'Под заказ',
        },
        prices: {
          current: 'от 930 000 р.',
        },
        error: 'Выберите параметры',
      },
    };

block content
  +detail(detail)
