extends ./common/wrapper
include ./modules/billboard
include ./modules/models
include ./modules/short-catalog
include ./modules/separator

block config
  -
    var billboard = {
      picture: {
        single: {
          path: 'images/billboard/1.jpg',
          sizes: {
            _1600: [1920, 1010],
            _1280: [1599, 673],
            _1024: [1279, 827],
            _768: [1023, 827],
            _400: [767, 503],
            _0: [399, 503],
          },
        },
      },
      video: 'https://rutube.ru/play/embed/60d70fc6fe787b9ccae256cd8f83620f',
      subtitle: 'Новинка!',
      title: {
        tag: 'h1',
        label: 'Корпус Ridepro',
      },
      btn: {
        options: {
          tag: 'a',
          label: 'Выбрать',
        },
        attrs: {
          href: '#',
        },
      },
    };

  -
    var models = {
      logo: {
        icon: 'logo',
      },
      text: 'новый бренд стоячих гидроциклов, кастомная постройка с учётом современных требований райдеров и возможностей тюнинга.',
      title: {
        tag: 'h3',
        label: 'Модели ZaxJet',
        attrs: {
          class: 'h2',
        },
      },
      cards: [
        {
          picture: {
            single: {
              path: 'images/models/1.png',
              sizes: {
                _1600: [406, 157],
                _1280: [426, 183],
                _1024: [705, 273],
                _768: [555, 215],
                _400: [743, 320],
                _0: [375, 161],
              },
            },
          },
          name: 'RidePro',
          price: 'от 930 000 р.',
        },
        {
          picture: {
            single: {
              path: 'images/models/2.png',
              sizes: {
                _1600: [406, 157],
                _1280: [426, 183],
                _1024: [705, 273],
                _768: [555, 215],
                _400: [743, 320],
                _0: [375, 161],
              },
            },
          },
          name: '2Style',
          price: 'от 1 050 000 р.',
        },
        {
          picture: {
            single: {
              path: 'images/models/3.png',
              sizes: {
                _1600: [406, 157],
                _1280: [426, 183],
                _1024: [705, 273],
                _768: [555, 215],
                _400: [743, 320],
                _0: [375, 161],
              },
            },
          },
          name: '2StylePro',
          price: 'от 1 050 000 р.',
        },
      ],
      btn: {
        options: {
          tag: 'a',
          label: 'Все модели',
          icons: {
            right: 'chevron-right',
          },
        },
        attrs: {
          href: '#',
        },
      },
    };

  -
    var shortCatalog = {
      title: {
        tag: 'h3',
        label: 'Магазин запчастей',
        attrs: {
          class: 'h2',
        },
      },
      cards: [
        {
          picture: {
            single: {
              path: 'images/short-catalog/1.png',
              sizes: {
                _1600: [161, 161],
                _1280: [192, 192],
                _1024: [294, 294],
                _768: [227, 227],
                _400: [422, 422],
                _0: [206, 206],
              },
            },
          },
          name: 'Водозаборная решетка алюминий',
          info: {
            text: '<div>под заказ</div><a href="#">подробнее</a>',
          },
          prices: {
            current: '18 000 р.',
          },
        },
        {
          sale: '-20%',
          picture: {
            single: {
              path: 'images/short-catalog/2.png',
              sizes: {
                _1600: [161, 161],
                _1280: [192, 192],
                _1024: [294, 294],
                _768: [227, 227],
                _400: [422, 422],
                _0: [206, 206],
              },
            },
          },
          name: 'Задний кронштейн аккумулятора',
          prices: {
            current: '14 400 р.',
            old: '18 000 р.',
          },
        },
        {
          picture: {
            single: {
              path: 'images/short-catalog/3.png',
              sizes: {
                _1600: [161, 161],
                _1280: [192, 192],
                _1024: [294, 294],
                _768: [227, 227],
                _400: [422, 422],
                _0: [206, 206],
              },
            },
          },
          name: 'Чин-пад видовой карбон',
          counter: {
            count: 3,
          },
          prices: {
            current: '38 000 р.',
          },
        },
        {
          picture: {
            single: {
              path: 'images/short-catalog/4.png',
              sizes: {
                _1600: [161, 161],
                _1280: [192, 192],
                _1024: [294, 294],
                _768: [227, 227],
                _400: [422, 422],
                _0: [206, 206],
              },
            },
          },
          name: 'Чин-пад стеклоткань',
          prices: {
            current: '17 000 р.',
          },
        },
        {
          sale: '-15%',
          picture: {
            single: {
              path: 'images/short-catalog/5.png',
              sizes: {
                _1600: [161, 161],
                _1280: [192, 192],
                _1024: [294, 294],
                _768: [227, 227],
                _400: [422, 422],
                _0: [206, 206],
              },
            },
          },
          name: 'Водозаборная решетка алюминий',
          prices: {
            current: '32 300 р.',
            old: '38 000 р.',
          },
        },
      ],
      btn: {
        options: {
          tag: 'a',
          label: 'Все запчасти',
          icons: {
            right: 'chevron-right',
          },
        },
        attrs: {
          href: '#',
        },
      },
    };

  -
    var separator = {
      picture: {
        single: {
          path: 'images/separator/1.jpg',
          sizes: {
            _1600: [1920, 168],
            _1280: [1599, 168],
            _1024: [1279, 101],
            _768: [1023, 101],
            _400: [767, 104],
            _0: [399, 137],
          },
        },
      },
      logo: {
        icon: 'logo',
      },
      text: 'это путь RidePerformance',
    };

block content
  +billboard(billboard)
  +models(models)
  +short-catalog(shortCatalog)
  +separator(separator)
