extends ./common/wrapper

block config
  -
    var pages = [
      {
        page: 'index',
        title: 'Главная',
      },
    ];

block content
  if pages
    .container(style="padding-top: 8rem; padding-bottom: 8rem;")
      ul
        each item in pages
          - var { page, title } = item;
          li
            a(href=`${page || 'index'}.html`)!=title
