extends ./common/wrapper

block config
  -
    var pages = [
      {
        page: 'index',
        title: 'Главная',
      },
      {
        page: 'article',
        title: 'Как собрать',
      },
      {
        page: 'about',
        title: 'О нас',
      },
      {
        page: 'models',
        title: 'Каталог моделей корпусов',
      },
      {
        page: 'detail-1',
        title: 'Страница товара',
      },
      {
        page: 'detail-2',
        title: 'Страница товара (выбранные варианты)',
      },
      {
        page: 'detail-3',
        title: 'Страница товара (добавлен в корзину)',
      },
      {
        page: 'detail-4',
        title: 'Страница товара (второй вариант)',
      },
    ];

block content
  if pages
    .container(style="padding-top: 8rem; padding-bottom: 8rem;")
      ul
        each item in pages
          - var { page, title } = item;
          li
            a(href=`${page || 'index'}.html`)!=title
