include ../utils/mixins

include ../components/logo
include ../components/connect
include ../components/btn
include ../components/model-card

- var title = 'Zaxjet';

block config

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")
    meta(name="description" content="")
    meta(name="theme-color" content="#ffffff")
    meta(property="og:url" content="")
    meta(property="og:type" content="website")
    meta(property="og:title" content=title)
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    meta(property="vk:image" content="")
    title=title
    link(rel="mask-icon" href="#" color="#ffffff")
    link(rel="apple-touch-icon" sizes="180x180" href="#")
    link(rel="icon" type="image/png" sizes="32x32" href="#")
    link(rel="icon" type="image/png" sizes="16x16" href="#")
    link(rel="shortcut icon" href="#")
  body
    .wrapper
      block header
        include ../modules/header
      .wrapper__content
        block content
      block footer
        include ../modules/footer
    link(rel="stylesheet" href="/src/scss/main.scss")
    script(type="module" src="/src/js/main.js")
