@mixin font-face($name, $path, $weight, $style) {
  @font-face {
    font-family: $name;
    src: url('/fonts/#{$path}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}
